{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <div class="site-branding">
          <a class="site-branding__mark" href="{{ base_path }}/" aria-label="{{ site.title }} home"><span>Y</span></a>
          <div class="site-branding__text">
            <a class="site-branding__title" href="{{ base_path }}/">{{ site.title }}</a>
          </div>
        </div>
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li class="masthead__menu-item masthead__menu-item--button"><a href="{{ base_path }}/files/CV_PabloUribe.pdf" target="_blank" rel="noopener">CV</a></li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
